<!doctype html>

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dynamic ribosomes dynamic SRPs</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <header class="py-3">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link text-muted"
                   href="{% url 'landing:index' %}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted"
                   href="{% url 'grad_school:index' %}">
                    Single Molecule Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted"
                   href="{% url 'grad_school:main_project' %}">
                    Main Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted"
                   href="{% url 'grad_school:about' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted"
                   href="https://github.com/trnoriega">Github</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted"
                   href="https://www.linkedin.com/in/thomasnoriega">
                    LinkedIn</a>
            </li>
        </ul>
        <div class="col text-center">
            <h1>Dynamic ribosomes and dynamic signal recognition particles</h1>
        </div>
    </header>
    <div class="row align-items-start">
        <div class="col text-start lead text-muted">
            <p>
                Previously, only signal recognition particles (SRPs)
                interacting with ribosomes that had been forced into a static
                conformation could be studied. This meant that we could not
                learn about a whole set of the interaction’s dynamics.
            </p>
            <p>
                By using a modified microscopic setup, originally designed to
                sequence DNA, I was able to observe ribosomes undergoing their
                normal dynamics at the same time as they interacted with SRPs.
            </p>
            <p>
                In this setup 150,000 holes, each with a 1-micron diameter, are
                patterned into a thin slice of aluminum. Such a slice is shown
                below. The dark circles in the zoomed in inset on the lower
                right of the image (expanded from the region surrounded by the
                dashed rectangle) are the microscopic holes. Each one of these
                holes serves as a tiny reaction volume were dynamic ribosomes
                can be observed interacting with dynamic SRPs, thereby
                recapitulating the complete interaction.
            </p>
            <p>
                <img alt="Zero Mode Waveguide"
                         height="400"
                         src="{% static "grad_school/images/zmw.jpg" %}"/>
            </p>
            <p>
                I converted each of the reactions occurring in the microscopic
                holes into data-sets, so that the dynamics of SRP-ribosome 
                interactions could be analyzed. I wrote scripts that allowed me 
                to
                <a href="https://github.com/trnoriega/single-molecule/blob/master/fretSelector_script/fretSelector.m">
                narrow down </a>
                which wells contained useful information as well as
                <a href="https://github.com/trnoriega/single-molecule/blob/master/stateAssign_function/stateAssign.m">
                carefully annotate </a>
                the useful signals. For example, the image below shows a single
                 ribosome that is changing over time (represented by the green
                and orange lines) interacting with multiple SRPs (represented
                by the red line). The nature of each signal is indicated by the
                 arrows and circles.
            </p>
            <p>
                <img alt="ZMW trace"
                     height="400"
                     src="{% static "grad_school/images/zmw_trace.jpg" %}"/>
            </p>
            <p>
                By analyzing thousands of these dynamic SRP-ribosome
                interactions I have been able to confirm past observations. For
                 example, the duration of SRP-ribosome interactions depends on
                how many times each ribosome has previously interacted with SRP
                 (as shown in the box plot below).
            </p>
            <p>
                <img alt="ZMW lifetimes"
                     height="400"
                     src="{% static "grad_school/images/zmw_lifetimes.jpg" %}"/>
            </p>
            <p>
                More importantly, I have also been able to gain significant new
                 insights into the biology of how SRP interacts with ribosomes.
                 For example, because I can track ribosome dynamics, I was able
                 to observe exactly when SRP starts interacting with ribosomes.
                 The image below shows that SRP’s first interactions with a
                ribosome mostly occur at a very specific ribosome state.
            </p>
            <p>
                <img alt="ZMW first arrivals"
                     height="400"
                     src="{% static "grad_school/images/zmw-first-arrivals.jpg" %}"/>
            </p>
            <p>
                The combination of a coordinated first arrival with
                increasingly long interactions leads to a switch-like behavior
                of SRP-ribosome interactions. Ribosomes only really interact
                with SRP after they change into a particular state, as shown in
                 the figure below. This helps explain a long-standing question
                about how SRPs in the cell avoid non-productive interactions
                with ribosomes.
            </p>
            <p>
                <img alt="ZMW residence times"
                     height="400"
                     src="{% static "grad_school/images/zmw-residence-times.jpg" %}"/>
            </p>
            <p>
                This work led to the publication of a research article
                <a href="{% static "grad_school/files/trn-elife.pdf" %}">
                     (download here) </a>
                in eLIFE on October 2014

            </p>
        </div>
    </div>
</div>
</body>
</html>