<!doctype html>

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Static ribosomes dynamic SRPs</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <header class="py-3">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link text-muted"
                   href="{% url 'landing:index' %}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted"
                   href="{% url 'grad_school:index' %}">
                    Single Molecule Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted"
                   href="{% url 'grad_school:about' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted"
                   href="https://github.com/trnoriega">Github</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted"
                   href="https://www.linkedin.com/in/thomasnoriega">
                    LinkedIn</a>
            </li>
        </ul>
        <div class="col text-center">
            <h1>Mitochondrial Tubules and Nucleoids</h1>
        </div>
    </header>
    <div class="row align-items-start">
        <div class="col text-start lead text-muted">
            <p>
                Christof Osman, a post-doctoral researcher in my lab, developed
                 a way to make high resolution 3-dimensional (3D) microscope
                 images of single baker’s yeast cells. The mitochondrial tubule
                 network (red) and the mitochondrial DNA nucleoids (green) can
                 be clearly seen:</p>
            <iframe width="560" height="400"
                    src="https://www.youtube.com/embed/XFqKK3af3B8?rel=0"
                    frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen>
            </iframe>
            <p>
                Our challenge was to take these images and develop a set of
                 computational tools that would allow analysis of hundreds of
                 the images to determine whether the green spots were randomly
                 distributed along the red network.</p>
            <p>
                The first step was to convert the microscope images into 3D
                 coordinates that could be interpreted by Matlab scripts: </p>
            <iframe width="560" height="400"
                    src="https://www.youtube.com/embed/Wmk7TO-ERck?rel=0"
                    frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen>
            </iframe>
            <p>
                We could then analyze the 3D cell coordinates to quantitate the
                 properties of each cell. For example, we could determine the
                 distances between all the mitochondrial nucleoids, the
                 distance between each nucleoid and the nearest mitochondrial
                 tip, or the length of each mitochondrial network. These
                 quantitative analyses then allowed us to test how perturbing
                 different cellular functions affected mitochondrial shape and
                 nucleoid number. </p>
            <p>This work led to the publication of a research article
                <a href="{% static "grad_school/files/co-pnas.pdf" %}">
                    (download here) </a>
                in the Proceedings of the National Academy of Sciences on
                 February 2015.</p>
        </div>
    </div>
</div>
</body>
</html>