<!doctype html>

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Simulating the system</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <header class="py-3">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link text-muted"
                   href="{% url 'landing:index' %}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted"
                   href="{% url 'grad_school:index' %}">
                    Single Molecule Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted"
                   href="{% url 'grad_school:main_project' %}">
                    Main Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted"
                   href="{% url 'grad_school:about' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted"
                   href="https://github.com/trnoriega">Github</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted"
                   href="https://www.linkedin.com/in/thomasnoriega">
                    LinkedIn</a>
            </li>
        </ul>
        <div class="col text-center">
            <h1>Simulating the system</h1>
        </div>
    </header>
    <div class="row align-items-start">
        <div class="col text-start lead text-muted">
            <p>
                Because a lot of dynamic parameters can influence how signal
                recognition particles interact with ribosomes, I wrote
                <a href="https://github.com/trnoriega/single-molecule/blob/master/simulator_script/simulator.m">
                    scripts based on stochastic simulation algorithms
                </a>
                to simulate what experiments would look like when different
                parameters were manipulated.
            </p>
            <p>
                For example, this image shows simulated signal recognition 
                particle (SRP)-ribosome interactions (green line, 0 is no 
                interaction, 1 is interaction) that depend on 5 simultaneous 
                processes (blue solid and dashed lines, red solid and dashed 
                lines, and black dashed line):
            </p>
            <p>
                <img alt="Simulation run"
                     height="400"
                     src="{% static "grad_school/images/simulation-run.jpg" %}"/>
            </p>
            <p>
                This allowed me to run thousands of different simulations to
                understand what parameters were contributing most significantly
                 to my experimental signal and statistical analyses.
            </p>
            <p>
                For example, the image below shows how independently changing
                three parameters affected SRP arrival- and residence-times on
                ribosomes (red, blue, and green lines):
            </p>
            <p>
                <img alt="Simulation run"
                     height="400"
                     src="{% static "grad_school/images/simulation-arrivals-residences.jpg" %}"/>
            </p>
        </div>
    </div>
</div>
</body>
</html>