<!doctype html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CarMatch</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <header class="py-3">
        <ul class="nav justify-content-end">
          <li class="nav-item">
              <a class="nav-link text-muted" href="{% url 'landing:index' %}">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="{% url 'classifier:about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="https://github.com/trnoriega">Github</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="https://www.linkedin.com/in/thomasnoriega">LinkedIn</a>
          </li>
        </ul>
        <div class="col text-center">
          <h1>CarMatch</h1>
        </div>
      </header>
      <div class="row align-items-start">
        <div class="col text-center">
          <h3>Please upload a photo of a car you like</h3>
          <p class="lead text-muted">
            We will try to match it with our database, and at the very least you'll see some cars that look like the one you are interested in!
          </p>
          <form id="input_image_form" method="post" action="{% url 'classifier:index' %}" enctype="multipart/form-data"> 
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {% for field in form.visible_fields %}
                                {{ field.errors }}
                                {{ field.help_text }}
                                {{ field }}
            {% endfor %}
            <p>
                <input class="btn btn-primary my-2" type="submit" name="submit" value="submit" />
            </p>
          </form>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
