<!doctype html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Projects</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container py-3">
      <div class="row align-items-end">
        <div class="col-6">
          <h1>
            <a href="{% url 'landing:index' %}" class="text-dark">PROJECTS</a>
          </h1>
        </div>
        <div class="col-2 d-flex justify-content-end">
          <h4>
            <a href="https://www.linkedin.com/in/thomasnoriega" class="text-dark">LinkedIn</a>
          </h4>
        </div>
        <div class="col-2 d-flex justify-content-end">
          <h4>
            <a href="https://github.com/trnoriega" class="text-dark">Github</a>
          </h4>
        </div>
        <div class="col-2 d-flex justify-content-end">
            <h4>
              <a href="https://github.com/trnoriega" class="text-dark">About</a>
            </h4>
        </div>
      </div>
      <hr>
      <div class="row align-items-start">
        <div class="col-md-4">
          <div class="card mb-4">
            <img class="card-img-top" height="300" src="{% static "landing/images/ucsf.jpg" %}" alt="Graduate work">
            <div class="card-body">
              <p class="card-text">
                <strong> USCF and Stanford </strong>
                <br> PhD work on single molecule interactions
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <!-- <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="https://thomasnoriega.wordpress.com/"> view </a>
                </div> -->
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" height="300" src="{% static "landing/images/class_montage.jpg" %}" alt="Car Match">
            <div class="card-body">
              <p class="card-text">
                <strong> Insight Data Science </strong>
                <br> I like the car in this photo, help me buy it!
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'classifier:index' %}"> view </a>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" height="300" src="{% static "landing/images/wordcloud.png" %}" alt="Car Match">
            <div class="card-body">
              <p class="card-text">
                <strong> Insight Data Science </strong>
                <br> Savory small molecule prediction
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="https://github.com/trnoriega/fema-flavor-classifier"> view </a>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
  </body>
</html>
