<!doctype html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Projects</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <header class="py-3">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link text-muted" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted" href="https://github.com/trnoriega">Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted" href="https://www.linkedin.com/in/thomasnoriega">LinkedIn</a>
        </li>
      </ul>
      <div class="col text-center">
        <h1>PROJECTS</h1>
      </div>
      </header>
      <div class="row align-items-start">
        <div class="col-md-4">
          <div class="card border-0 mb-4">
            <img class="card-img-top" height="300" src="{% static "landing/images/ucsf.jpg" %}" alt="Graduate work">
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark" href="https://thomasnoriega.wordpress.com/">
                  <strong>Single Molecule Studies</strong>
                </a>
                <br> UCSF and Stanford PhD work
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0 mb-4">
            <img class="card-img-top" height="300" src="{% static "landing/images/class_montage.jpg" %}" alt="Car Match">
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark" href="{% url 'classifier:index' %}">
                  <strong>CarMatch</strong>
                </a>
                <br> I like the car in this photo, help me buy it!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0 mb-4">
            <img class="card-img-top" height="300" src="{% static "landing/images/wordcloud.png" %}" alt="Car Match">
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark" href="https://github.com/trnoriega/fema-flavor-classifier">
                    <strong>Savory or Not</strong>
                </a>
                <br> Small molecule sensory classifier
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
